.theme-window {
  width: 150px;
  padding: 1px;
  background-color: var(--r95-color-material);
  box-shadow: var(--r95-shadow-out);
}

.title-bar {
  background: var(--r95-color-headerBackground);
  padding: 4px;
  margin: 2px;
  color: var(--r95-color-headerText);
}

.btn-container {
  padding: 10px;
}

.theme-widow-btn {
  width: 100%;
  background-color: var(--r95-color-material);
  padding-top: var(--r95-space-7);
  padding-inline: var(--r95-space-20);
  padding-bottom: var(--r95-space-5);
  border: none;
  color: var(--r95-color-materialText);
  font-size: 12px;
  box-shadow: inset 1px 1px 0px 1px var(--r95-color-borderLightest),
    inset 0 0 0 1px var(--r95-color-borderDark),
    1px 1px 0 0px var(--r95-color-borderDarkest);
}

.theme-widow-btn:focus {
  outline: var(--r95-space-1) dotted var(--r95-color-materialText);
  outline-offset: calc(var(--r95-space-5) * -1);
  box-shadow: inset 1px 1px 0px 1px var(--r95-color-borderLightest),
    inset -0.5px -0.5px 0px 1px var(--r95-color-borderDark),
    1px 1px 0 1px var(--r95-color-borderDarkest);
}

.theme-widow-btn:active {
  padding-top: var(--r95-space-8);
  padding-inline: var(--r95-space-20);
  padding-bottom: var(--r95-space-4);
  outline: var(--r95-space-1) dotted var(--r95-color-borderDarkest);
  outline-offset: calc(var(--r95-space-5) * -1);
  box-shadow: inset 0 0 0 1px var(--r95-color-borderDark),
    0 0 0 1px var(--r95-color-borderDarkest);
}
