{
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended"],
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "linebreak-style": 0,
    "import/no-cycle": 0,
    "import/named": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "no-confusing-arrow": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-wrap-multilines": 0,
    "react/jsx-one-expression-per-line": 0,
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/no-empty-function": 0
  }
}
