{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0
  }
}