{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["airbnb", "prettier"],
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "linebreak-style": 0,
    "import/no-cycle": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "no-confusing-arrow": 0
  }
}
